wbgapi==1.0.12
fredapi==0.5.2
yfinance==0.2.55
pandas==2.2.3
numpy==1.26.4
pyarrow==20.0.0
python-dotenv==1.1.0
requests==2.32.3
tqdm==4.67.1
rich==14.0.0
scikit-learn==1.6.1
xgboost==3.0.1
shap==0.47.2
plotly==6.0.1
dash==2.18.2
dash-bootstrap-components==1.7.1
lightgbm==4.6.0
statsmodels==0.14.4
streamlit==1.43.2
torch==2.6.0
optuna==4.3.0
matplotlib==3.10.1